version: 2.1

jobs:
  job:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - run: |
          # echo Hello, World!aaa
          sleep 6

  build:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "SHA256:ppSeqivtyonaXj3iW5uKk2c/2M0JhtCU797RA+OqDwA"
      - run: |
          # echo Hello, World!!
          sleep 60

  test:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - run: |
          # echo Hello, World!
  ubuntu:
    docker:
      - image: ubuntu:latest
    steps:
      - checkout
      - run: |
          # echo Hello, World!

workflows:
  C:
    jobs:
      - test
      - ubuntu
  B:
    jobs:
      - build
  A:
    jobs:
      - build
      - job:
          requires:
            - build
